*
  {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
  }
  body
  {
      background-size: cover;
  }
.prediction_text_css{
  text-align: center;
  color: #fff;
  font-size: 50px;

}
  .contact
  {
    position: relative;
    min-height: 80vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

  }
  .contact .title
  {
    max-width: 800px;
    text-align: center;
  }
  .contact .title h1
  {
    font-size: 3rem;
    font-weight: 500;
    color: #fff;
    background-image: linear-gradient(to left, rgba(201, 15, 15, 0), rgb(23, 26, 32, 0.8));
    border-radius: 40px;


  }
  .contact .title p
  {

    font-weight: 300;
    color: rgb(0, 0, 0);

  }
  .contactInfo{
    background-image: linear-gradient(to left, rgba(255,0,0,0), rgb(23, 26, 32, 0.8));
    border-radius: 10px;
  }
  .container
  {
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
  }
  .container .contactInfo
  {
    width:50%;
    display: flex;
    flex-direction: column;

  }
  .container .contactInfo .box
  {
    position: relative;
    padding: 20px 0;
    display: flex;
  }
  .container .contactInfo .box .text
  {
    display: flex;
    margin-left: 22px;
    font-size: 16px;
    color:white;
    flex-direction: column;
    font-weight: 300;
  }
  .container .contactInfo .box .text h3
  {

    font-size: 26px;
    font-weight: 500;
    color:rgb(255, 255, 255);
  }
  .contactForm
  {
    width:40%;
    padding:40px;
    background: #fff;
    border-radius: 10px;

  }
  .contactForm h2
  {
    font-size: 30px;
    color:#333;
    font-weight: 500;

  }
  .contactForm .inputbox
  {
    position: relative;
    width: 100%;
    margin-top: 10px;

  }
  .contactForm .inputbox input
  {
    width:100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: 0px;
    border-bottom: 2px solid #333;
    outline: none;
  }
  .contactForm .inputbox span
  {
    position: absolute;
    left:0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.3s;
  }
  .contactForm .center_heading
  {
    position: relative;
    width: 100%;
    margin-top: 10px;
  }
  .contactForm .inputbox input:focus~ span,
  .contactForm .inputbox input:valid~ span
  {
    color:gold;
    font-size: 15px;
    transform: translateY(-17px);
  }
  #sub
  {
    width:80px;
    height:30px;
    background: rgb(23, 26, 32, 0.8);
    color:rgb(255, 255, 255);
    border:none;
    cursor: pointer;
    padding: 0px;
    font-size: 12px;
    border-radius: 10px;
  }
  @media (max-width:991px)
  {
    .contact
    {
      padding: 50px;
    }
    .container
    {
      flex-direction: column;
    }
    .container .contactInfo
    {
      margin-bottom: 40px;
    }
    .container .contactInfo,
    .contactForm
    {
      width:100%;
    }

  }